.cproject
.project
.settings/*
CMakeCache.txt
CMakeFiles/
FTP/.cproject
FTP/.project
FTP/.settings/
Makefile
TestFTP.xml
TestFTP/.cproject
TestFTP/.project
TestFTP/.settings/*
TestFTP/CMakeCache.txt
TestFTP/CMakeFiles/*
TestFTP/Makefile
TestFTP/bin/*
TestFTP/cmake_install.cmake
TestFTP/coverage/*
TestFTP/Wildcard/*
cmake_install.cmake
lib/*

#Windows
.vs/*
FTP.suo
FTP/FTP_VS14.vcxproj.user
FTP_VS14.VC.db
TestFTP/LastCoverageResults.log
TestFTP/TestFTP_VS14.vcxproj.user
*build*
